body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #E8E8E8;
}

a {
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	color: #3366FF;
}

img {
	margin: 20px;
}

a:hover {
	color: #909090;
}

#wrapper {
	min-height:100%;
	position: absolute;
}

#header {
	padding:10px;
	padding-left: 30px;
	font-size: 40px;
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	background: #0066FF;
}

nav {
	padding-left: 20px;
	padding: 5px;
	background: #505050;
}

nav > a {
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 10px;
}

#content {
	float: left;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 70px;
    margin-left: 80px;
    margin-right: 5px;
	width: 63%;
	height: 80%;
	padding-bottom: 80px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
}

#post {
	padding: 20px;
	height: 90%;
	width: 90%;
	font: 15px Helvetica;
}

#sidebar {
	float: right;
	margin-right: 40px;
	margin-top: 20px;
	width: 20%;
	padding: 20px;
	padding-bottom: 80px;
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
}

#footer {
	width: 100%;
	height: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	bottom: 0;
	font-family: 'Cuprum', sans-serif;
	font-color: black;
	background-color: white;
	position: absolute;
	}

#image-caption {
	text-align: center;
}

#post_head {
	text-align: center;
	font-family: 'Cuprum', sans-serif;
}

#icons {
	background-color: #3366FF;
	padding-left: 15px;
	padding-right: 5px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Arial';
	font-weight: bold;
}
