body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #D8D8D8;
}

a:link {
	color: #000099;
}

a:visited {
	color: #006699;
}

a:hover {
	color: #00CCCC;
}

a:active {
	color: #0000FF;
}

#wrapper {
	min-height:100%;
	position: absolute;
}

#header {
	padding:10px;
	font-size: 72px;
	font-family: Verdana;
	font-weight: bold;
	color: #FF6600;
}

#content {
	padding: 10px;
	float: left;
	margin: 0 1.5%;
	width: 63%;
	padding-bottom: 80px;
}

#sidebar {
	float: right;
	margin: 0 1.5%;
	margin-top: 100px;
	width: 25%;
	padding-bottom: 80px;
}

#footer {
	width: 100%;
	height: 80px;
	position: absolute;
	text-align: center;
	bottom: 0;
	left:0;
	}

.nav {
	display: inline;
	padding-left: 30px;
	margin-left: 30px;
}